@import "./reset";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: nth($pm, 3) * 3 0 0;
  height: 100vh;
  &__logo {
    @include font(400, 2rem * 7, $fc: nth($colors, 3));
    animation: fadein 1s ease-in 1s forwards;
    opacity: 0;
  }

  &__coming {
    @include font($fs: 9rem, $fc: nth($colors, 2));
    margin-bottom: nth($pm, 1) * -1;
    letter-spacing: 4rem;
    animation: fadein 1s ease-in 2s forwards;
    opacity: 0;
  }
  &__soon {
    @include font($fc: nth($colors, 2));
    animation: blinking 1s ease-in-out 3s infinite;
    opacity: 0;
    // letter-spacing: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

.perspective-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px #eeeeee;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}
.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspective-line {
  position: relative;
}
.perspective-line:nth-child(1) {
  left: 29px;
}
.perspective-line:nth-child(2) {
  left: 58px;
}
.perspective-line:nth-child(3) {
  left: 87px;
}
.perspective-line:nth-child(4) {
  left: 116px;
}
.perspective-line:nth-child(5) {
  left: 145px;
}

/* Sliding text on all lines */
.perspective-text p {
  transform: translate(0, -50px);
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation: text-anim 4s infinite;
}

/* Solid text on hover */
.perspective-line:hover p {
  color: #eeeeee;
}

@keyframes text-anim {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
